.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -moz-box;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
}

.col {
    border: 1px lightgray solid;
    height: 10vh;
    width: 10vh;
}

.wall {
    background-image: 
        linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
        url("/assets/img/wall/subtle_orange_emboss.png");
}

.dagger {
    background-image:
        url("/assets/img/weapons/dagger.png"),
        radial-gradient(circle at center, orange 0%, transparent 80%);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.sword {
    background-image: 
        url("/assets/img/weapons/sword.png"),
        radial-gradient(circle at center, orange 0%, transparent 80%);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.axe {
    background-image:
        url("/assets/img/weapons/axe.png"),
        radial-gradient(circle at center, orange 0%, transparent 80%);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.hammer {
    background-image:
        url("/assets/img/weapons/hammer.png"),
        radial-gradient(circle at center, orange 0%, transparent 80%);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.double-axe {
    background-image:
        url("/assets/img/weapons/axeDouble.png"),
        radial-gradient(circle at center, orange 0%, transparent 80%);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.knight {
    background-image: url("/assets/img/knight/_IDLE/_IDLE_000.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.orc {
    background-image: url("/assets/img/ork/IDLE/IDLE_000.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}


.showMove {
    border: 1px black solid;
    box-shadow: 0px 0px 12px grey;
}