.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -moz-box;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
}

.col {
    border: 1px lightgray solid;
    height: 10vh;
    width: 10vh;
}

.wall {
    background-color: black;
}

.player1 {
    background-color: blue;
}

.player2 {
    background-color: red;
}

.katana, .axe, .chainsaw {
    background-color: grey;
}