.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -moz-box;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
}

.col {
    border: 1px lightgray solid;
}